ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
    text-align: center;
  }

li{
    padding: 21.39px 20px;
    text-decoration: none;
    display: inline-block;
    width: 100px;
    font-family: Roboto;
    font-size: 15px;
    color: #54b9a6;
    font-weight: bold;
    text-transform: uppercase;
}